$background-color: rgb(204, 192, 201);
$primary-gradient: linear-gradient(90deg, rgba(204, 192, 201, 1) 0%, rgba(255, 245, 252, 1) 62%, rgba(196, 184, 193, 1) 100%);
$primary: #000000;


$gradient-start: rgb(84, 84, 91);
$gradient-middle: rgb(174, 174, 189);
$gradient-end: rgb(92, 94, 106);
$progress-gradient: linear-gradient(90deg, rgb(243, 190, 232) 0%, rgb(244, 238, 242) 64%, rgb(196, 147, 186) 100%);


$logo-color: rgba(31, 94, 72, 0.93);


$tablets: 768px;
$phones: 610px; 