.header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header__logo {
font-family: 'Poppins', sans-serif;
font-size: 32px;
font-weight: bold;
color: #f4e5eb;
text-shadow: 0 0 8px rgba(182, 117, 141, 0.8);
}

/*
.header__logo-top {
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 205, 224, 0.99);
}

.header__logo-bottom {
  padding: 5px;
  border-top: 1px solid #3a3939;
  border-radius: 0 0 5px 5px;
  background-color: aliceblue;
}
*/




  
 
